/*Tips Invoice*/

#tipsinvoice{
	background-color:#E9FBF8;
	line-height: 35px;
	text-align: center;
}

.invoicegrid {
		display: grid;
	grid-template-columns: repeat(8,1fr);
	grid-gap: 50px;
	margin-bottom: 50px;
}
.tips-heading {
margin:auto;
padding-top: 120px;
padding-bottom: 50px;
text-align: center;
font-size: 20px;
}

#tip-in-1 {
	grid-column: 2/5;
}

#tip-in-2 {
	grid-column: 5/8;
}

a:hover {
	color: white;
}

#tips-quote {
padding-bottom: 0;
}

#quotegrid {
display: grid;
grid-template-columns: repeat(3,1fr);
grid-gap: 40px;
padding: 40px;
font-weight: lighter;
}

#tips-back2 {
	background-color:#23A591;
	border-radius: 5px;
	width: 200px;
	color: white;
	margin-top: 30px;
	padding: 10px 25px 10px 25px;
	grid-column: 2/2;
margin-left: auto;
margin-right: auto;
text-align: center;

}
#tips-back1 {
	background-color:#23A591;
	border-radius: 5px;
	width: 200px;
	color: white;
	margin-top: 30px;
	padding: 10px 25px 10px 25px;
	grid-column: 1/-1;
margin-left: auto;
margin-right: auto;
text-align: center;

}

.boldtxt {
	font-weight: bold;
}

.italictxt {
	font-style: italic;
}

#contractgrid {
	display: grid;
grid-template-columns: repeat(3,1fr);
grid-gap: 40px;
padding: 40px;
font-weight: lighter;
text-align: left;
font-size: 13px;
line-height: 2;
}

#tips-contract {
	padding-top: 50px;
	padding-bottom: 0px;
}

#tipscontract {
	background-color: #E9FBF8;
height: auto;
text-align: center;
}

